.vscode
slash
.sy5-2022-2023-projet-slash-autotests.nosync
..gitignore.swp
*.o
projet.md
src/
AUTHORS.md
addendum-erratum.md
include/
equipes.md
test.sh
Interaction_attendue
Interaction_reelle
todo
notes.txt
Makefile
Projet_test.sh
setenv
lienSymbolique
!redirections/redirections.c
redirections/*.txt
redirections/redirections
